<div class="jumbotron margin mt-5">
  <h1 class="display-4">Seja Bem-vindo!!</h1>
  <p class="lead">Esta é uma rede social mto top (Cópia do tuiter) e original</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <%= link_to "Cadastre-se",  new_user_registration_path, class: "btn btn-info" %>
</div>